<!DOCTYPE html>
<html>
<head>
  <title>Vikshab</title>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nothing+You+Could+Do" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="site-banner-left">

  </div>
<%= yield %>

  <nav class="navbar">
    <% if !current_page?('/') %>
      <%= link_to "HOME", root_path %>
    <% end %>

    <% if !current_page?('/about') %>
      <%= link_to "ABOUT", about_path %>
    <% end %>

    <% if !current_page?('/blog') %>
      <%= link_to "BLOG", blog_path %>
    <% end %>

    <% if !current_page?('/portfolio') %>
      <%= link_to "PORTFOLIO", portfolio_path %>
    <% end %>

    <% if !current_page?('/contact') %>
      <%= link_to "CONTACT", contact_path %>
    <% end %>

    <% if current_page?('/portfolio') %>
      <a href="#" onclick="return false;" onmousedown="resetScroller('top');">Go back to top</a>
    <% end %>
  </nav>
</body>
</html>
